<mat-card class="mt-3 mat-elevation-z2">
  <p>Bem vindo ao Painel do Analisador de Pensamento Computacional!</p>
</mat-card>

<h2 class="mt-3" style="color: #FFFFFF">
  <mat-icon class="mr-3">dashboard</mat-icon>
  Dashboard
</h2>

<mat-card class="mt-3 mat-elevation-z2" style="background-color: #e6e6e6">
  <p><mat-icon class="mr-1">report</mat-icon> Relatórios do sistema:</p>
  <div class="row">
    <div class="col-4">
      <mat-card class="col-12 mat-elevation-z2">
        <mat-card-header><mat-icon class="mr-1">room</mat-icon>Linguagens Disponíveis</mat-card-header>
        <h3 class="mt-3">{{ countLinguagens }}</h3>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="col-12 mat-elevation-z2">
        <mat-card-header><mat-icon class="mr-1">label</mat-icon>Testes Realizados</mat-card-header>
        <h3 class="mt-3">{{ countTestes }}</h3>
      </mat-card>
    </div>
    <div class="col-4">
      <mat-card class="col-12 mat-elevation-z2">
        <mat-card-header><mat-icon class="mr-1">person</mat-icon>Alunos Cadastrados</mat-card-header>
        <h3 class="mt-3">{{ countAlunos }}</h3>
      </mat-card>
    </div>
  </div>
</mat-card>
